<div>
  <h2>Game <%= @game.id %></h2>
  <p><%= game_state(@game) %></p>
  <p>
  <%= if @game.winner do %>
    <p>Winner: <%= @game.winner %></p>
  <% end %>
  </p>
</div>

<div>
  <h3>All moves</h3>
  <ul>
    <%= for move <- @game.moves do %>
    <li><%= transform_move(move) %></li>
  <% end %>
  </ul>
</div>

<span><%= link "Back to overview", to: Routes.page_path(@conn, :index) %></span>
