<div>
  <h2>Games in progress</h2>
  <ul>
    <li>game 1</li>
    <li>game 2</li>
  </ul>
</div>

<div>
  <h2>Games completed</h2>
  <ul>
    <li>game 3</li>
    <li>game 4</li>
  </ul>
</div>

<div>
  <h2>Play a game</h2>
  <%= form_for @conn, Routes.game_path(@conn, :create), fn _f -> %>
    <%= submit "Start" %>
  <% end %>
</div>
